
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/data/jpa
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan
		base-package="com.amstech.std.system"></context:component-scan>
		


	<bean id="userRepoMysqlImpl"
		class="com.amstech.std.system.repo.impl.UserRepoMysqlImpl">

	</bean>
	<bean id="userRepoDB2Impl"
		class="com.amstech.std.system.repo.impl.UserRepoDB2Impl">

	</bean>

<bean id="userService"
		class="com.amstech.std.system.service.UserService">
		

	</bean>	

	<bean id="userController"
		class="com.amstech.std.system.controller.UserController"
		init-method="init">
		<property name="userService" ref="userService"></property>
	</bean>

	<bean id="loginController"
		class="com.amstech.std.system.controller.LoginController"
		init-method="init">
		<constructor-arg name="userService" ref="userService"></constructor-arg>
	</bean>

	<bean name="propertyPlaceholder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
        <value>classpath:application.properties</value>
    </property>
</bean>
</beans>